* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: -webkit-linear-gradient(90deg, #8f35b5,#542c9a,#07207b);
    background: linear-gradient(90deg, #8f35b5,#542c9a,#07207b);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .calculator {
    width: 600px;
    height: auto;
    background-color: black;
    margin: 150px auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }